.profile_image{
    width: 100%;
    max-width:350px;
    border-radius:100%;
}
@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}

#animatedText{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fce055;
    text-align: center;
    background: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(0, 183, 252, 1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    height: 40px;
    font-size: 2rem;
}

#animatedText::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 40px;
    background: black;
    display: inline-block;
    animation: cursor-blink 1.5s steps(2) infinite;
}



